
<%= turbo_frame_tag dom_id(event, 'participation_form'), class: 'grow flex flex-col' do %>
    <%= form_for participation, method: :delete, html:{:class => 'grow flex flex-col'}  do |f| %>
        <div class="rounded-md text-center grow flex flex-col justify-center items-center"> 
                <%= f.hidden_field :employee_id %>
                <%= f.button t('participations.destroy.button_text'), type: :submit, class: "w-full rounded-md grow bg-red-400 text-white font-bold grow" %>
        </div>
    <% end %>
<% end %>